.orders-grid {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* Строки */
.orders-grid .rz-data-row {
  transition: background-color 0.2s ease;
}

/* Hover строк */
.orders-grid .rz-data-row:hover {
  background-color: #f8fafc !important;
}

.rz-grid-table thead th .rz-column-title {
  align-items: end;
}

.rz-datatable th {
  vertical-align: bottom;

}

.rz-grid-table thead th > div:not(.rz-cell-filter) {
  padding: 15px 0;
}

.half-painted-header,
.rz-data-grid th.half-painted-header {
  background: #f3f4ff !important;
}
.rz-data-grid th .rz-column-title-content,
.rz-data-grid th .rz-header-filter-title {
  font-size: 15px;
  color: #6b7280;
  font-weight: 600;
}


.status-badge {
  border-radius: 14px;
  padding: 3px 12px;
  font-size: 0.78rem;
  font-weight: 500;
  color: #4b5563;
  background: #ececff;
}

.rz-badge {
  text-transform: none !important;
}

.price-cell {
  font-weight: 800;
  letter-spacing: 0.2px;
}

.rz-datatable .rz-pager.rz-unselectable-text {
  padding: 0.7rem 1rem !important;
}
.rz-data-grid .rz-cell-data p {
  margin: 0 !important;
  line-height: 1.4 !important;
}

.filter-all-item{
  padding:8px 12px;
  cursor:pointer;
  border:1px solid #dcdcdc;
  border-bottom:none;
  border-radius:6px 6px 0 0;
  background:white;
}

.filter-all-item:hover{
  background:#f5f6ff;
}

.filter-all-item.active{
  background:#ececff;
  font-weight:500;
}

.rz-listbox{
  border-radius: 0 0 6px 6px;
}
